.profile__button_type_avatar {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0); */
  padding: 0;
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
}

.profile__button_type_avatar:hover {
  z-index: 2;
  background: url(../../../../images/Vector.svg) center no-repeat transparent;
}

@media screen and (max-width: 695px) {
  .profile__button_type_avatar{
    margin-right: 0;
    margin-bottom: 26px;
  }
}