.profile__add-button {
  padding: 0;
  margin-left: auto;
  box-sizing: border-box;
  border: 2px solid white;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background: url(../../../images/Add.svg) transparent no-repeat center;
  background-size: 22px;
}

@media screen and (max-width: 648px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}